body{
	margin:0;
}

#box1{
	border:1px solid lightgray;
	position:relative;
	left:10px;
	top:10px;
	float: left;
	overflow: hidden;
}

#small{
	width:300px;
	vertical-align: top;
}

#tool{
	background:greenyellow;
	opacity: 0.5;
	width:100px;
	height:100px;
	position: absolute;
	display: none;
}
#tool.active{
	display: block;
}

#box2{
	border:1px solid lightgray;
	width:500px;
	position: relative;
	left:10px;
	top:10px;
	overflow: hidden;
	float: left;
	display: none;
}
#box2.active{
	display: block;
}

#big{
	width:1500px;
	position:absolute;
}


